﻿@using WordParser.Models
@model WordParser.Models.ParsedWordsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(function () {
        
        // hide the results table when a new file has been selected.
        $('#file').click(function() {
            $('#results').hide();
        });
    });
    
</script>

@using (Html.BeginForm("Index", "Parse", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row-fluid">
            <fieldset>
                <legend>Word Parser</legend>
                
                <div class="text-error">
                    @Html.ValidationMessage("file")
                </div>

                <label>Select a file for parsing.</label>
                <input type="file" name="file" id="file"/>
                
                <input type="submit" value="Parse" class="btn"/>
            </fieldset>
        </div>
        <br/>
        @if (Model.Words.Count > 0)
        {
            <div class="row-fluid" id="results">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Word</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var currentWord in Model.Words)
                        {
                            <tr>
                                <td>@Html.Label(currentWord.Word) </td>
                                <td>@Html.Label(currentWord.Count.ToString()) </td>
                            </tr>    
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
}