﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    THIS IS NOT COMPLETE, AS IT IS NOT POSSIBLE TO TRANSFER FILE VIA AJAX.
    http://stackoverflow.com/questions/12928186/ajax-form-post-not-posting-input-type-with-file?lq=1
*@

<script type="text/javascript">
    var WordViewModel = function(word, count) {
        var self = this;

        self.Word = ko.observable(word);
        self.Count = ko.observable(count);
    };

    var ParsedWordsViewModel = function() {

        var self = this;
        
        self.Words = ko.observableArray();

        self.ShowResults = ko.computed(function() {
            if (self.Words().count > 0) {
                return true;
            } else {
                return false;
            }
        });

        self.UpdateResult = function(result) {
            self = this;

            self.Words.removeAll();
            
            for (var index = 0; index < result.length; index++) {
                
                var newWord = new WordViewModel(result[index].Word,
                    result[index].count);

                self.Words.push(newWord);
            }
        };

        self.ParseTextFile = function() {
            alert('ParseTextFile fired.');
            
            var data = {
                filePath: $("#file").val(),
            };
            
            $.ajax({
                type: 'POST',
                url: '/Parse/Index',
                contentType: 'multipart/form-data; charset=utf-8',
                data: $("#file").val(),
                dataType: 'json',
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                    var msg = JSON.parse(XMLHttpRequest.responseText);
                    self.ErrorMessage(msg.Message);
                },
                success: function (response) {

                    //alert("success from server");
                    self.ActionTriggered(true);
                    UpdateResult(response);
                }
            });

        };
    };
    
</script>

<script type="text/javascript">
    
    // apply bindings 
    $(function () {
        vm = new ParsedWordsViewModel();
        ko.applyBindings(vm);
    });
    
</script>

<div id="ParseView">
    <div class="container-fluid">
        <h2>Word Parser</h2>

        <div class="row-fluid">
            <p>
                Select a file for parsing.
            </p>

            <input type="file" name="file" id="file" class="btn-small"/>
            <input type="submit" value="Parse" class="btn-small" data-bind="click: ParseTextFile"/>
        </div>
        <div class="row-fluid" id="results">
            <!-- ko if: ShowResults   -->
            <table class="table-striped table-bordered" data-bind="with: Words">
                <thead>
                    <tr>
                        <th>Word</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-bind="text: Word"></td>
                        <td data-bind="text: Count"></td>
                    </tr>
                </tbody>
            </table>
            <!-- /ko -->
            
        </div>
    </div>
</div>
